extends layout
block content
  div.container
    table.table.table-hover.table-striped.table-bordered
      thead.table-dark
        th Name
        th Password
        th Proccess
      body
        each item in users
          tr
            th #{item.name}
            th #{item.password}
            th(style = "width:260px")
              a(href=`detailuser/${item.id}`).btn.btn-primary Details
              a(href=`edituser/${item.id}`).btn.btn-warning Edit
              a(href=`deleteuser/${item.id}`).btn.btn-danger Delete